<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcb.xigou.dao.interfaceClass.BannersMapper" >
  <resultMap id="BaseResultMap" type="com.hcb.xigou.dto.Banners" >
    <id column="fake_id" property="fakeId" jdbcType="INTEGER" />
    <result column="banner_uuid" property="bannerUuid" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="store_uuid" property="storeUuid" jdbcType="VARCHAR" />
    <result column="good_uuid" property="goodUuid" jdbcType="VARCHAR" />
    <result column="currentIndex" property="currentindex" jdbcType="INTEGER" />
    <result column="banner_status" property="bannerStatus" jdbcType="INTEGER" />
    <result column="banner_name" property="bannerName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fake_id, banner_uuid, create_datetime, update_datetime, delete_at, type, url, store_uuid, 
    good_uuid, currentIndex,banner_status,banner_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banners
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByBannerUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from banners
    where banner_uuid = #{bannerUuid,jdbcType=VARCHAR} and delete_at is null
  </select>
  
  <select id="searchBannerByMap" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from banners
    where delete_at is null
    <if test="bannerName !='' and bannerName != null">
		banner_name like CONCAT(CONCAT('%', #{bannerName,jdbcType=VARCHAR}), '%')
	</if>
	<if test="storeUuid !='' and storeUuid != null">
		and store_uuid = #{storeUuid,jdbcType=VARCHAR}
	</if>
	order by create_datetime desc LIMIT #{start},#{end}
  </select>
  
  <select id="countBannerByMap" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   select count(1) from banners
    where delete_at is null
    <if test="bannerName !='' and bannerName != null">
		banner_name like CONCAT(CONCAT('%', #{bannerName,jdbcType=VARCHAR}), '%')
	</if>
	<if test="storeUuid !='' and storeUuid != null">
		and store_uuid = #{storeUuid,jdbcType=VARCHAR}
	</if>
  </select>
  
  <update id="deleteByBannerUuids" parameterType="java.util.HashMap" >
   update banners
  	set delete_at = #{deleteAt,jdbcType=VARCHAR}
    where 
    <if test="storeUuid!='' and storeUuid!=null ">
			and store_uuid = #{storeUuid,jdbcType=VARCHAR}
	</if >
	<if test="bannerUuids!='' and bannerUuids!=null ">
		and banner_uuid in 
	    <foreach item="item" index="index" collection="bannerUuids" open="(" separator="," close=")">  
		  #{item}  
		</foreach>
	</if>
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banners
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hcb.xigou.dto.Banners" >
    insert into banners (fake_id, banner_uuid, create_datetime, 
      update_datetime, delete_at, type, 
      url, store_uuid, good_uuid, 
      currentIndex,banner_status,banner_name)
    values (#{fakeId,jdbcType=INTEGER}, #{bannerUuid,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP}, #{deleteAt,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{url,jdbcType=VARCHAR}, #{storeUuid,jdbcType=VARCHAR}, #{goodUuid,jdbcType=VARCHAR}, 
      #{currentindex,jdbcType=INTEGER},  #{bannerStatus,jdbcType=INTEGER}, #{bannerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcb.xigou.dto.Banners" >
    insert into banners
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        fake_id,
      </if>
      <if test="bannerUuid != null" >
        banner_uuid,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="deleteAt != null" >
        delete_at,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="storeUuid != null" >
        store_uuid,
      </if>
      <if test="goodUuid != null" >
        good_uuid,
      </if>
      <if test="currentindex != null" >
        currentIndex,
      </if>
      <if test="bannerStatus != null" >
        banner_status,
      </if>
      <if test="bannerName != null" >
        banner_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        #{fakeId,jdbcType=INTEGER},
      </if>
      <if test="bannerUuid != null" >
        #{bannerUuid,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        #{deleteAt,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="storeUuid != null" >
        #{storeUuid,jdbcType=VARCHAR},
      </if>
      <if test="goodUuid != null" >
        #{goodUuid,jdbcType=VARCHAR},
      </if>
      <if test="currentindex != null" >
        #{currentindex,jdbcType=INTEGER},
      </if>
      <if test="bannerStatus != null" >
         #{bannerStatus,jdbcType=INTEGER},
      </if>
      <if test="bannerName != null" >
         #{bannerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcb.xigou.dto.Banners" >
    update banners
    <set >
      <if test="bannerUuid != null" >
        banner_uuid = #{bannerUuid,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        delete_at = #{deleteAt,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="storeUuid != null" >
        store_uuid = #{storeUuid,jdbcType=VARCHAR},
      </if>
      <if test="goodUuid != null" >
        good_uuid = #{goodUuid,jdbcType=VARCHAR},
      </if>
      <if test="currentindex != null" >
        currentIndex = #{currentindex,jdbcType=INTEGER},
      </if>
      <if test="bannerStatus != null" >
         banner_status = #{bannerStatus,jdbcType=INTEGER},
      </if>
      <if test="bannerName != null" >
         banner_name = #{bannerName,jdbcType=VARCHAR},
      </if>
    </set>
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcb.xigou.dto.Banners" >
    update banners
    set banner_uuid = #{bannerUuid,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      delete_at = #{deleteAt,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      url = #{url,jdbcType=VARCHAR},
      store_uuid = #{storeUuid,jdbcType=VARCHAR},
      good_uuid = #{goodUuid,jdbcType=VARCHAR},
      currentIndex = #{currentindex,jdbcType=INTEGER},
      banner_status = #{bannerStatus,jdbcType=INTEGER},
      banner_name = #{bannerName,jdbcType=VARCHAR}
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </update>
</mapper>