<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcb.xigou.dao.interfaceClass.PopularActivityMapper" >
  <resultMap id="BaseResultMap" type="com.hcb.xigou.dto.PopularActivity" >
    <id column="fake_id" property="fakeId" jdbcType="INTEGER" />
    <result column="activity_uuid" property="activityUuid" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="VARCHAR" />
    <result column="good_uuid" property="goodUuid" jdbcType="VARCHAR" />
    <result column="merchant_uuid" property="merchantUuid" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="sign" property="sign" jdbcType="CHAR" />
    <result column="groups" property="groups" jdbcType="CHAR" />
    <result column="banner" property="banner" jdbcType="VARCHAR" />
    <result column="store_uuid" property="storeUuid" jdbcType="VARCHAR" />
    <result column="is_stop" property="isStop" jdbcType="CHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="banner_uuid" property="bannerUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    az.fake_id, az.activity_uuid, az.create_datetime, az.update_datetime, az.delete_at, 
    az.good_uuid, az.merchant_uuid, az.image, az.title, az.description, az.start_time, 
    az.end_time, az.type, az.sign, az.groups, az.banner, az.store_uuid,g.good_name,b.banner_uuid
  </sql>
  
  
  <select id="searchPopularActivityByMap" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
	  	select * FROM goods g ,banners b , activity_zones az  
		where az.delete_at is null and
		g.good_uuid and g.good_uuid = az.good_uuid
	  	order by az.create_datetime desc LIMIT #{start},#{end}
    </select>
  
  <select id="countPopularActivityByMap"  resultType="java.lang.Integer" parameterType="java.util.HashMap" >
  	select count(1) FROM goods g ,banners b , activity_zones az  
		where az.delete_at is null and
		g.good_uuid and g.good_uuid = az.good_uuid
  </select>

  <update id="deleteByActivityUuids" parameterType="java.util.HashMap" >
   update activity_zones
  	set delete_at = #{deleteAt,jdbcType=VARCHAR}
    where 
    <if test="storeUuid!='' and storeUuid!=null ">
		store_uuid = #{storeUuid,jdbcType=VARCHAR}
	</if >
	<if test="activityUuids!='' and activityUuids!=null ">
		and activity_uuid in 
	    <foreach item="item" index="index" collection="activityUuids" open="(" separator="," close=")">  
		  #{item}  
		</foreach>
	</if>
  </update>
  
  <update id="updateByPopularActivityIsSTop" parameterType="java.util.HashMap">
  	update goods
  	<set >
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isStop == 1" >
        is_stop = 2,
      </if>
      <if test="isStop == 2" >
        is_stop = 1,
      </if>
    </set>
   
  </update>
  
  
  <select id="selectByPopularActivityId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from activity_zones
  	where delete_at is null 
  	<if test="activityUuid != null and activityUuid != ''">
  		and activity_uuid = #{activityUuid,jdbcType=VARCHAR}
  	</if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_zones
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </select>
	
	<insert id="insertActivity" parameterType="com.hcb.xigou.pojo.ActivityZones" >
    insert into activity_zones
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        fake_id,
      </if>
      <if test="activityUuid != null" >
        activity_uuid,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="deleteAt != null" >
        delete_at,
      </if>
      <if test="goodUuid != null" >
        good_uuid,
      </if>
      <if test="merchantUuid != null" >
        merchant_uuid,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="groups != null" >
        groups,
      </if>
      <if test="banner != null" >
        banner,
      </if>
      <if test="storeUuid != null" >
        store_uuid,
      </if>
      <if test="isStop != null" >
        is_stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        #{fakeId,jdbcType=INTEGER},
      </if>
      <if test="activityUuid != null" >
        #{activityUuid,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        #{deleteAt,jdbcType=VARCHAR},
      </if>
      <if test="goodUuid != null" >
        #{goodUuid,jdbcType=VARCHAR},
      </if>
      <if test="merchantUuid != null" >
        #{merchantUuid,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=CHAR},
      </if>
      <if test="groups != null" >
        #{groups,jdbcType=CHAR},
      </if>
      <if test="banner != null" >
        #{banner,jdbcType=VARCHAR},
      </if>
      <if test="storeUuid != null" >
        #{storeUuid,jdbcType=VARCHAR},
      </if>
      <if test="isStop != null" >
        #{isStop,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>