<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcb.xigou.dao.interfaceClass.SkusMapper" >
  <resultMap id="BaseResultMap" type="com.hcb.xigou.dto.Skus" >
    <id column="fake_id" property="fakeId" jdbcType="INTEGER" />
    <result column="sku_uuid" property="skuUuid" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fake_id, sku_uuid, create_datetime, update_datetime, delete_at, category, parameter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from skus
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllCategory" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    fake_id,sku_uuid,category
    from skus
    where delete_at is null
    group by category 
  </select>
  
  <select id="selectAllParameter" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from skus
    where delete_at is null
    and category = #{category,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from skus
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hcb.xigou.dto.Skus" >
    insert into skus (fake_id, sku_uuid, create_datetime, 
      update_datetime, delete_at, category, 
      parameter)
    values (#{fakeId,jdbcType=INTEGER}, #{skuUuid,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP}, #{deleteAt,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{parameter,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcb.xigou.dto.Skus" >
    insert into skus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        fake_id,
      </if>
      <if test="skuUuid != null" >
        sku_uuid,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="deleteAt != null" >
        delete_at,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fakeId != null" >
        #{fakeId,jdbcType=INTEGER},
      </if>
      <if test="skuUuid != null" >
        #{skuUuid,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        #{deleteAt,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcb.xigou.dto.Skus" >
    update skus
    <set >
      <if test="skuUuid != null" >
        sku_uuid = #{skuUuid,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        delete_at = #{deleteAt,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
    </set>
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcb.xigou.dto.Skus" >
    update skus
    set sku_uuid = #{skuUuid,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      delete_at = #{deleteAt,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR}
    where fake_id = #{fakeId,jdbcType=INTEGER}
  </update>
</mapper>